@charset "UTF-8";

@media screen and (max-width: 900px) {

  /*======================================================
  header
========================================================*/
  .wrapper {
    padding: 20px;
  }

  .contents {
    padding-top: 100px;
  }

  h1 {
    font-size: 2.4rem;
  }

  /* View Moreボタン */
  .view-more-btn {
    padding: 20% 0;
  }

  /*======================================================
  main
========================================================*/
  .items-list.flex {
    flex-direction: column;
  }

  .item {
    padding: 1%;
    width  : 49%;
  }

  /* 「singleページ（商品詳細ページ）」 */
  .psp-contents.flex {
    flex-direction: column;
  }

  .psp-h2 {
    font-size: 2rem;
  }

  .psp-left,
  .psp-right {
    width: 100%;
  }

  .psp-right {
    padding: 3% 0;
  }

  .info-row dt {
    width      : 40%;
    font-weight: lighter;
  }

  .info-row dd {
    width: 60%;
  }

  /* 「comanyページ」 */
  .company-info {
    width: 100%;
  }

  .company-info-list.flex {
    flex-direction: column;
  }

  .company-info-list dt {
    padding: 2% 0;
    font-weight: bold;
 }

  .map iframe {
    width: 100%;
  }

  /*======================================================
  footer
========================================================*/
  /* footer */
  .footer.flex {
    flex-direction: column;
  }

  .fnav-item a {
    font-size: 1.1rem;
  }

  .copyright {
    font-size: 0.8rem;
  }
}